.flexbox-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1vw 1fr 1vw;
    grid-template-rows: 1vw 50px 10fr 1vw;
    grid-gap: 5px;
    grid-template-areas:
    ". . ."
    ". tools-grid ."
    " . intractable-list-container ."
    ". . .";
    height: 100%;
    width: 100%;
}

.tools-grid {
    display: grid;
    grid-area: tools-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    grid-template-areas:
    "add edit remove cancel";
}

.add {grid-area: add;}
.edit {grid-area: edit;}
.remove {grid-area: remove;}
.cancel {grid-area: cancel;}
.intractable-list-container {grid-area: intractable-list-container;}
