.navbar-top {grid-area: a;}
.page-grid-layout {
    display: grid;
    grid-template-columns: 0 1fr 1fr 1fr 1fr 1fr 1fr 6fr 0;
    grid-template-rows: 20px 65px 65px 1fr 0;
    grid-gap: 5px;
    grid-template-areas:
    " a a a a a a a a a "
    " . b b b c c c h . "
    " . d d e e f f h . "
    " . g g g g g g h . ";
    height: 100%;
    width: 100%;
}

.title-name {grid-area: title-name;}
.input-name {grid-area: input-name;}
.wrapper-name {
    display: grid;
    grid-area: b;
    grid-template-rows: 30px 1fr;
    grid-template-areas:
    " title-name "
    " input-name ";
}

.title-mat-path {grid-area: title-mat-path;}
.input-mat-path {grid-area: input-mat-path;}
.btn-browse {grid-area: btn-browse;}
.wrapper-mat-path {
    display: grid;
    grid-area: c;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas:
    " title-mat-path title-mat-path "
    " input-mat-path btn-browse ";
}


.title-clst-lmt {grid-area: title-clst-lmt;}
.input-clst-lmt {grid-area: input-clst-lmt;}
.wrapper-clst-lmt {
    display: grid;
    grid-area: d;
    grid-template-rows: 30px 1fr;
    grid-template-areas:
    " title-clst-lmt "
    " input-clst-lmt ";
}

.title-dist-lmt {grid-area: title-dist-lmt;}
.input-dist-lmt {grid-area: input-dist-lmt;}
.wrapper-dist-lmt {
    display: grid;
    grid-area: e;
    grid-template-rows: 30px 1fr;
    grid-template-areas:
    " title-dist-lmt "
    " input-dist-lmt ";
}

.title-sur-prop {grid-area: title-sur-prop;}
.input-sur-prop {grid-area: input-sur-prop;}
.wrapper-sur-prop {
    display: grid;
    grid-area: f;
    grid-template-rows: 30px 1fr;
    grid-template-areas:
    " title-sur-prop "
    " input-sur-prop ";
}

.title-models {grid-area: title-models;}
.models-list-wrapper {grid-area: models-list-wrapper;}
.wrapper-models {
    display: grid;
    grid-area: g;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
    " title-models "
    " models-list-wrapper "
    " tools-grid ";
}

.title-preview {grid-area: title-preview;}
.wrapper-preview {
    display: grid;
    grid-area: h;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    " title-preview "
    " preview-wrapper ";
}

.tools-grid {
    border-color: var(--color-primary);
    border-style: solid;
    border-width: 1px 0 0 0;
    display: grid;
    grid-area: tools-grid;
    grid-template-columns: 1fr 1fr;
}

.btn-new button {border-bottom-left-radius: 5px;}
.btn-remove button {border-bottom-right-radius: 5px;}
