.page-grid-layout {
    display: grid;
    grid-template-columns: 5px 1fr 1fr 2fr 5px;
    grid-template-rows: 5px 100px 1fr 5px;
    grid-gap: 5px;
    grid-template-areas:
    " . . . . . "
    " . wrapper-name wrapper-game wrapper-preview . "
    " . wrapper-clusters wrapper-clusters wrapper-preview . "
    ". . . . . ";
    height: 100%;
    width: 100%;
}

.title-name {grid-area: title-name;}
.input-name {grid-area: input-name;}
.wrapper-name {
    display: grid;
    grid-area: wrapper-name;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    " title-name "
    " input-name ";
}

.title-game {grid-area: title-game;}
.dropdown-wrapper {grid-area: dropdown-wrapper;}
.wrapper-game {
    display: grid;
    grid-area: wrapper-game;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    " title-game "
    " dropdown-wrapper ";
}

.title-clusters {grid-area: title-clusters;}
.clusters-list-wrapper {grid-area: clusters-list-wrapper;}
.wrapper-clusters {
    display: grid;
    grid-area: wrapper-clusters;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
    " title-clusters "
    " clusters-list-wrapper "
    " tools-grid ";
}

.title-preview {grid-area: title-preview;}
.wrapper-preview {
    display: grid;
    grid-area: wrapper-preview;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    " title-preview "
    " preview-wrapper ";
}

.preview-wrapper {grid-area: preview-wrapper;}

.tools-grid {
    border-color: var(--color-primary);
    border-style: solid;
    border-width: 1px 0 0 0;
    display: grid;
    grid-area: tools-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btn-new button {border-bottom-left-radius: 5px;}
.btn-remove button {border-bottom-right-radius: 5px;}
