.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.btn:hover {
    background-color: var(--Color_04);
}

.btn-browse {
    border-radius: var(--BorderRadius);
    background-color: var(--Color_04);
}

.btn-browse:hover .btn-label {
    color: var(--ColorTextWhite);
}

.btn-browse .btn-label {
    color: var(--ColorTextGrey);
    font-size: 14px;
}

.btn-label {
    color: var(--ColorTextWhite);
    font-size: 16px;
}