.list-container {
    overflow-y: auto;
}

.listSorting-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 calc(var(--Margin) + var(--ScrollbarWidth)) 0 var(--Margin);
    margin: 0 var(--Margin) 0 var(--Margin);
}

.sorting-option {
    color: var(--ColorTextGrey);
    text-align: right;
}

.sorting-option:first-child {
    text-align: left;
}

.listItem-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    padding: 0 var(--Margin) 0 var(--Margin);
    align-items: center;
    border-style: solid;
    border-color: var(--Color_02);
    border-width: 0;
    border-bottom-width: 1px;
    margin: 0 var(--Margin) 0 var(--Margin);

    height: 40px;
}

.listItem-container > div {
    pointer-events: none;
}

.listItem-container:last-child {
    border-width: 0;
}

.listItem-container:hover, .listItem-container-selected {
    background-color: var(--Color_04);
}

.listItem-date {
    text-align: right;
    color: var(--ColorTextGrey);
    pointer-events: none;
}