.list-container {
    overflow-y: auto;
}

.listSorting-container {
    position: sticky;
    top: 0;
    background-color: var(--Color_03);
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 var(--Margin) 0 var(--Margin);
    margin: 0 var(--Margin) 0 var(--Margin);
    height: var(--ListSortingHeight);
}

.sorting-option {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.sorting-option-label {
    color: var(--ColorTextGrey);
    background-color: yellow;
}

/* .sorting-option:first-child {
    text-align: left;
} */

.sorting-option:hover {
    background-color: var(--Color_04);
}

.listItem-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    padding: 0 var(--Margin) 0 var(--Margin);
    align-items: center;
    border-style: solid;
    border-color: var(--Color_02);
    border-width: 0;
    border-bottom-width: 1px;
    margin: 0 var(--Margin) 0 var(--Margin);

    height: 40px;
}

.listItem-container > div {
    pointer-events: none;
}

.listItem-container:last-child {
    border-width: 0;
}

.listItem-container:hover, .listItem-container-selected {
    background-color: var(--Color_04);
}

.listItem-date {
    text-align: right;
    color: var(--ColorTextGrey);
    pointer-events: none;
}