::-webkit-scrollbar {
    width: var(--ScrollbarWidth);
}

::-webkit-scrollbar-track {
    background: var(--Color_03);
}

::-webkit-scrollbar-thumb {
    background: var(--Color_04);
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}