@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    /* Colors */
    --Color_01: rgb(69, 69, 69);
    --Color_02: rgb(41, 42, 45);
    --Color_03: rgb(32, 33, 36);
    --Color_04: rgb(26, 27, 30);
    
    --ColorButton: rgb(0, 68, 226);
    --ColorButtonHovered: rgb(73, 125, 255);

    --ColorTextWhite: rgb(231, 233, 237);
    --ColorTextGrey: rgb(156, 156, 156);
    --ColorTextBlue: rgb(86, 182, 195);
    --ColorTextGreen: rgb(145, 196, 122);
    --ColorTextGrey: rgb(147, 150, 155);
    --ColorTextMagenta: rgb(205, 125, 231);
    --ColorTextRed: rgb(220, 107, 117);
    --ColorTextWhite: rgb(209, 217, 231);
    --ColorTextYellow: rgb(233, 197, 120);

    /* Variables */
    --BorderRadius: 5px;
    --Margin: 4px;
    --Titleheight: 45px;
    --NavbarHeight: 20px;
    --ListSortingHeight: 25px;
    --ScrollbarWidth: 10px;
}

* {
    border: none;
    color: var(--ColorTextWhite);
    font: inherit;
    font-size: 14px;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--Color_02);
    overflow: hidden;
}

.noselect {
    user-select: none;
    pointer-events: none;
}

/* Title */
.title {
    font-size: 20px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: var(--Color_02);
    border-width: 0px 0px 1px 0px;
}