@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    /* Colors */
    --ColorBackground_01: rgb(61, 67, 78);
    --ColorBackground_02: rgb(40, 44, 52);
    --ColorBackground_03: rgb(33, 37, 43);
    --ColorBackground_04: rgb(28, 32, 38);

    --ColorButton: rgb(45, 49, 58);
    --ColorButtonHovered: rgb(49, 53, 63);

    --ColorTextWhite: rgb(209, 217, 231);
    --ColorTextBlue: rgb(86, 182, 195);
    --ColorTextGreen: rgb(145, 196, 122);
    --ColorTextGrey: rgb(147, 150, 155);
    --ColorTextMagenta: rgb(205, 125, 231);
    --ColorTextRed: rgb(220, 107, 117);
    --ColorTextWhite: rgb(209, 217, 231);
    --ColorTextYellow: rgb(233, 197, 120);

    /* Variables */
    --BorderRadius: 3px;
    --Margin: 4px;
}

* {
    border: none;
    color: var(--ColorTextWhite);
    font: inherit;
    font-size: 14px;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--ColorBackground_02);
    /* overflow: hidden; */
}

.noselect {
    user-select: none;
}

.title-container {
    align-items: center;
    background-color: red;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.title {
    font-size: 20px;
    /* background-color: yellow;
    height: 100%;
    width: 100%; */
}

.btn-01 {
    background-color: var(--ColorButton);
    padding: 1em;
    border-radius: var(--BorderRadius);
}

.btn-01:hover {
    background-color: var(--ColorButtonHovered);
}
