.grid-layout {
    display: grid;
    grid-template-columns: 1fr 550px 1fr;
    grid-template-rows: 5px 50px 1fr 50px 110px 5px;
    grid-gap: 5px;
    grid-template-areas:
    " . . . "
    " . wrapper-game . "
    " . games-list-containter . "
    " . tools-grid . "
    ". edit-grid . "
    ". . . ";
    height: 100%;
    width: 100%;
}

.wrapper-game {grid-area: wrapper-game;}

.tools-grid {
    display: grid;
    grid-area: tools-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
    "edit remove";
}

.edit {grid-area: edit;}
.remove {grid-area: remove;}
.games-list-containter {grid-area: games-list-containter;}

.edit-grid {
    display: grid;
    grid-area: edit-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    grid-template-areas:
    "gameNameLable gameNameInput gameNameInput  gameNameInput "
    "gameDirLable gameDirInput gameDirInput gameDirBrowseBtn"
    " . submitBtn submitBtn cancelBtn";
}

.edit-grid div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.edit-grid label {
    padding-right: 10px;
}

.gameNameLable {grid-area: gameNameLable;}
.gameDirLable {grid-area: gameDirLable;}
.gameNameInput {grid-area: gameNameInput;}
.gameDirInput {grid-area: gameDirInput;}
.gameDirBrowseBtn {grid-area: gameDirBrowseBtn;}
.cancelBtn {grid-area: cancelBtn;}
.submitBtn {grid-area: submitBtn;}
