.page-wrapper {
    background-color: var(--color-primary);
    margin-left: 175px;
    height: 100vh;
}

.flexbox-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION TITLE */
.section-title-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: var(--color-primary);
    border-width: 0px 0px 1px 0px;
}

.section-title {
    color: var(--color-text-white);
    font-size: 22px;
}

.section-wrapper {
    background-color: var(--color-primaryDark);
    border-radius: 5px;
}