@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --color-primary: rgb(40, 44, 52);
    --color-primaryLight: rgb(61, 67, 78);
    --color-primaryDark: rgb(33, 37, 43);
    --color-primaryDarker: rgb(28, 32, 38);
    --color-text-blue: rgb(86, 182, 195);
    --color-text-green: rgb(145, 196, 122);
    --color-text-grey: rgb(147, 150, 155);
    --color-text-magenta: rgb(205, 125, 231);
    --color-text-red: rgb(220, 107, 117);
    --color-text-white: rgb(209, 217, 231);
    --color-text-yellow: rgb(233, 197, 120);
}

* {
    border: none;
    color: var(--color-text-white);
    font: inherit;
    font-size: 14px;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

html {
    /* scroll-behavior: smooth; */
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-y: hidden;
}

button {
    cursor: pointer;
}

label::selection {
    background-color: var(--color-text-white);
    color: var(--color-primaryDarker);
}

/* INTERACTABLE LISTS */
.intractable-list-wrapper {
    padding: 5px;
    overflow-y: scroll;
}

.intractable-list-item {
    align-items: center;
    background-color: var(--color-primaryDark);
    border-style: solid;
    border-color: var(--color-primary);
    border-width: 0px 0px 1px 0px;
    display: flex;
    height: 35px;
    justify-content: space-between;
    width: 100%;
}

.intractable-list-item:last-child {
    border: none;
}

.intractable-list-item:hover {
    background-color: var(--color-primaryDarker);
}

.active-intractable-list-item {
    background: var(--color-primaryDarker);
}

.intractable-list-item label {
    cursor: pointer;
    margin: 0 5px;
}

.intractable-list-item label:nth-child(2) {
    color: var(--color-text-grey);
}

/* DROPDOWN LIST */
.dropdown-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.dropdown-wrapper * {
    cursor: pointer;
}

.dropdown-container {
    appearance: none;
    background-color: var(--color-primaryDark);
    height: 100%;
    padding: 0 20px;
    text-align-last:center;
}

/* INPUT FIELD  */
.input-field-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.input-field {
    background-color: var(--color-primaryDark);
    height: 100%;
    width: 100%;
}

.input-field::selection {
    background-color: var(--color-text-white);
    color: var(--color-primaryDarker);
}

.center-text {
    text-align: center;
}

/* BUTTON STYLE 1 */
.btn-style-1 {
    background: var(--color-primaryDark);
	border: none;
	cursor: pointer;
	font: inherit;
    height: 100%;
    width: 100%;
}

.btn-style-1:hover {
    background-color: var(--color-primaryDarker);
}

/* PAGE */
.page-wrapper {
    align-items: center;
    background-color: var(--color-primary);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-left: 175px;
}

/* SECTION WRAPPER */
.section-wrapper {
    background-color: var(--color-primaryDark);
    border-radius: 5px;
}

/* SECTION TITLE */
.section-title-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: var(--color-primary);
    border-width: 0px 0px 1px 0px;
}

.section-title {
    font-size: 22px;
}

/* PREVIEW */
.preview-wrapper {
    padding: 0 10px;
    overflow-y: scroll;
    height: 99%;
}

.preview-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title {
    color: var(--color-text-red);
}

.tab-1 {
    margin-left: 20px;
}

.tab-2 {
    margin-left: 40px;
}

.tab-3 {
    margin-left: 60px;
}

.string {
    color: var(--color-text-green);
}

.number {
    color: var(--color-text-blue);
}

/* SIDEBAR */
.sidebar-wrapper {
    position: fixed;
    align-items: center;
    background-color: var(--color-primaryDark);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    width: 175px;
}

.navbar {
    margin-top: 15px;
    width: 80%;
}

.navbar-item {
    border-style: solid;
    border-color: var(--color-primary);
    border-width: 0px 0px 2px 0px;
    padding: 5px 0;
    height: 50px;
    width: 100%;
}

.navbar-item:last-child {
    border-width: 0;
}

.navbar-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 20px;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.navbar-item a:hover {
    background-color: var(--color-primaryLight);
}

.navbar-item-selected a {
    color: var(--color-text-blue);
}

.footer {
    align-items: flex-end;
    display: flex;
    height: 150px;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-text {
    display: flex;
    font-size: 10px;
}

/* NO SELECT */
.noselect {
    user-select: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-primaryDark);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primaryDarker);
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}