@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    /* COLORS */
    --color-primary: rgb(40, 44, 52);
    --color-primaryDark: rgb(33, 37, 43);
    --color-primaryDarker: rgb(28, 32, 38);
    --color-text-white: rgb(209, 217, 231);
    --color-text-red: rgb(220, 107, 117);
    --color-text-blue: rgb(86, 182, 195);
    --color-text-green: rgb(145, 196, 122);
    --color-text-magenta: rgb(205, 125, 231);
    --color-text-yellow: rgb(233, 197, 120);
}

html {
    background-color: var(--color-primary);
    color: var(--whiteText);
    font-family: 'Montserrat',sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--color-text-white);
}

label {
    font-size: 14px;
    color: var(--color-text-white);
}

input {
    background-color: var(--color-primaryDark);
    border-style: solid;
    border: none;
    color: var(--color-text-white);
    height: 100%;
    outline: 0;
    width: 100%;
}

input::selection {
    background-color: var(--color-text-white);
    color: var(--color-primaryDark);
}

.btn-style-1 {
    background: var(--color-primaryDark);
	border: none;
	color: var(--color-text-white);
	cursor: pointer;
	font: inherit;
    font-size: 14px;
    height: 100%;
	outline: none;
	padding: 0;
    width: 100%;
}

.btn-style-1:hover {
    background-color: var(--color-primaryDarker);
}

.noselect {
    user-select: none;
}
